body {
    background-color: rgb(124, 115, 255);
}

h1 {
    color: rgb(130, 252, 242);
    text-align: center;
}
.form {
    font-size: 20px;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    background-color:rgba(130, 252, 242, 0.7);
    max-width: 100%;
}
